@model System.Data.DataTable
@using System.Data;
@using UCEP.Models;

<h2>Upload File</h2>

@using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()

  <div class="form-group">
    @Html.DropDownList("catalogue",
                      new SelectList(Enum.GetValues(typeof(Enums.Catalogue))),
                      "---Select Catalogue---",
                      new { @class = "form-control" })
  </div>

  <div class="form-group">
    <span class="label label-info">Choose file [csv(utf-8) | xls | xlsx] to upload</span>
    <input type="file" id="dataFile" name="upload" accept=".csv,.xls,.xlsx" />
  </div>

  <div class="form-group">
    <input type="submit" value="Upload" class="btn btn-default" />
  </div>

  if (Model != null)
  {
    <table class="table">
      <thead>
        <tr>
          @foreach (DataColumn col in Model.Columns)
          {
            <th>@col.ColumnName</th>
          }
        </tr>
      </thead>
      <tbody>
        @foreach (DataRow row in Model.Rows)
        {
          <tr>
            @foreach (DataColumn col in Model.Columns)
            {
              <td>@row[col.ColumnName]</td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
}


@if (GlobalConfig.FsCatalogueListUpLoad.Count >= 0)
{
  <p>New Item Upload : @GlobalConfig.FsCatalogueListUpLoad.Count</p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayName(FsCatalogueEnum.HospitalCode.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.FSCodeNIEMS.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.FSCodeHos.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.Category.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.Meaning.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.Unit.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.Price.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.EffectiveDate.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.Status.ToString())
      </th>
      <th>
        @Html.DisplayName(FsCatalogueEnum.ApprovalDate.ToString())
      </th>
      @*<th></th>*@
    </tr>

    @foreach (var item in ViewData["FsCatalogueList"] as IEnumerable<UCEP.Models.FsCatalogue>)
        {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.HospitalCode)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FSCodeNIEMS)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FSCodeHos)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Meaning)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ApprovalDate)
        </td>
        @*<td>
              @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
              @Html.ActionLink("Details", "Details", new { id=item.Id }) |
              @Html.ActionLink("Delete", "Delete", new { id=item.Id })
          </td>*@
      </tr>
    }

  </table>

}
else if (GlobalConfig.DrugCatalogueListUpLoad.Count >= 0)
{
  <p>
    New Item Upload : @GlobalConfig.DrugCatalogueListUpLoad.Count
  </p>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.HospDrugCode.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.PRODUCTCAT.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.TMTID.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.SPECPREP.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.GENERICNAME.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.TRADENAME.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DFSCODE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DOSAGEFORM.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.STRENGTH.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.CONTENT.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.UNITPRICE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DISTRIBUTOR.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.MANUFACTURER.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.ISED.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.NDC24.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.PACKSIZE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.PACKPRICE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.UPDATEFLAG.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DATECHANGE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DATEUPDATE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DATEEFFECTIVE.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.ISED_APPROVED.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.NDC24_APPROVED.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.DATE_APPROVED.ToString())
      </th>
      <th>
        @Html.DisplayName(DrugCatalogueEnum.ISED_STATUS.ToString())
      </th>
    </tr>

    @foreach (var item in ViewData["DrugCatalogueList"] as IEnumerable<UCEP.Models.DrugCatalogue>)
        {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.HospDrugCode)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PRODUCTCAT)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TMTID)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.SPECPREP)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.GENERICNAME)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TRADENAME)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DFSCODE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DOSAGEFORM)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.STRENGTH)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.UNITPRICE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DISTRIBUTOR)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.MANUFACTURER)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ISED)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.NDC24)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PACKSIZE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PACKPRICE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.UPDATEFLAG)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DATECHANGE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DATEUPDATE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DATEEFFECTIVE)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ISED_APPROVED)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.NDC24_APPROVED)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DATE_APPROVED)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ISED_STATUS)
        </td>
      </tr>
    }
  </table>
}
