@using UCEP.Models;
@{
    ViewBag.Title = "ViewDataUpload";
}

<h2>ViewDataUpload</h2>

@if (ViewData["Catalogue"].ToString() == Enums.Catalogue.FSCatalogue.ToString())
{
  <p>New Item Upload : @GlobalConfig.FsCatalogueListUpLoad.Count</p>
  @Html.Partial("_FSCatalogue", @GlobalConfig.FsCatalogueListUpLoad)
}
else if (ViewData["Catalogue"].ToString() == Enums.Catalogue.DrugCatalogue.ToString())
{
  <p>New Item Upload : @GlobalConfig.DrugCatalogueListUpLoad.Count</p>
  @Html.Partial("_DrugCatalogue", @GlobalConfig.DrugCatalogueListUpLoad)
}
